.game-grid.red{
    border: 1px solid red;
}
.game-grid.green{
    border: 1px solid green;
}
.game-grid.alertpage.red h1{
    color :red;
}
.game-grid.alertpage.green h1{
    color :green;
}

.game-grid.alertpage{
    display:grid;
    justify-content:center;
    align-items:center;
}
.game-grid.alertpage.red h1{
    color :red;
}

.game-grid.alertpage.overlay{
    margin: 0;
}