@keyframes unfade {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    
}
.playerobject div{
    height:1.3em;
    width:1.3em;
    opacity:0.7;
    background-repeat:none;
    background-size: contain;
    border-radius: 50%;
    animation: unfade 0.7s ease-in-out forwards;
    cursor:pointer;
}
.playerobject{
    display: inline-block;
    border-radius: 50%;
}
.greenplayerobject{
    border: 1.5px solid green;
    background-color: green;
}
.greenplayerobject div{
    background-image:url("https://res.cloudinary.com/dnppl93qm/image/upload/v1623960701/media/ludo/green_ysk5nr.jpg");
}

.redplayerobject{
    border: 2.5px solid red;
    background-color: red;
}
.redplayerobject div{
    background-image:url("https://res.cloudinary.com/dnppl93qm/image/upload/v1623961066/media/ludo/red2_kyxwjg.jpg");
}

.yellowplayerobject{
    border: 1.5px solid yellow;
    background-color: yellow;
}
.yellowplayerobject div{
    background-image:url("https://res.cloudinary.com/dnppl93qm/image/upload/v1623961306/media/ludo/captain_marvel_poster_1688.1537366019_gx4bdo.jpg");
    opacity:0.5;
}

.blueplayerobject{
    border: 1.5px solid blue;
    background-color: blue;
}
.blueplayerobject div{
    background-image:url("https://res.cloudinary.com/dnppl93qm/image/upload/v1623960505/media/ludo/blue_sq2xbx.jpg");
}



/* new css */
.twoplayers.two{
    position: absolute;
}
.twoplayers.one{
    position: relative;
    right:0.3em;
}

.threeplayers.one{
    position: absolute;
}
.threeplayers.two{
    position: relative;
    left: 0.8em;
}.threeplayers.three{
    position: relative;
    right: 0.5em;
}

.fourplayers.one{
    position: absolute;
}
.fourplayers.two{
    position: relative;
    left: 1.44em;
}.fourplayers.three{
    position: relative;
    left: 0.08em;
}
.fourplayers.four{
    position: relative;
    right: 1.26em;
}