.creator-container h1{
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}
.creator-container h3,.create-container h2{
    color: rgb(16, 133, 235);
    text-align: center;
    padding:1px;
    text-transform: uppercase;
}
.creator-container input{
    background:none;
    outline:none;
    border:1px solid rgb(54, 51, 51);
    border-radius: 0.5rem;
    margin: 0.3rem;
}
.creator-container input:focus{
    padding:0.4rem 0.7rem;
}

#startgame{
    border:0;
    background:none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px clamp(50px,13vw,100px);
    outline:none;
    color: white;
    border-radius:1.5rem;
    transition: 0.25s;
    cursor: pointer;
}
#startgame:hover{
    background-color:#2ecc71;
}
