.toggle{
    position:absolute;
    top:12.5px;
    right:12.5px;
    transition:400ms ease-in-out;
}
.toggle.active{
    right:312.5px;
}
.toggle svg{
    width:40px;
    height:40px;
    color:aliceblue;
    cursor: pointer;
}
.hidden{
    display:none;
}




.menu{
    position:absolute;
    height:100vh;
    background-color: #25172b;
    width:300px;
    right:-300px;
    transition:400ms ease-in-out;
    top: 0;
    display:flex;
    flex-direction: column;
}
.menu.active{
    right:0;
}

.menu >h2{
    text-align:center;
    border:1px solid aliceblue;
    color:aliceblue;
}
.menu>div{
    display:flex;
    flex-direction: column;
    margin: 0 0.5rem;
}
#chat-log{
    color:rgb(141, 149, 156);
}

#chat-text{
    color:aliceblue;
}


/* chatbox styles below */
.chat-box-container{
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    overflow-y: hidden;
}
.ant-input{
    background:none;
    color: aliceblue;
    margin-bottom: 0.5rem;
}

@media screen and (min-width:720px){
    .menu{
        width:400px;
        right:-400px;
    }
    .toggle.active{
        right:412.5px;
    }
}
