#starter-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.start-counter{
    font-size:clamp(6rem,10vw,8rem);
    justify-content:center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(148, 16, 16);
    text-shadow: 2px;
}
.start-counter::after{
    content:"0";
    animation:counter 5s linear;
}

@keyframes counter{
    0%{
        content:"5";
        font-size:clamp(12rem,15vw,16rem);
    }
    25%{
        font-size:clamp(10rem,13vw,14rem);
        content:"4";
    }
    50%{
        content:"3";
        font-size:clamp(8rem,12vw,12rem);
    }
    75%{
        content:"2";
        font-size:clamp(7rem,11vw,10rem);
    }
    90%{
        content:"1";
        font-size:clamp(6rem,10vw,8rem);
    }
    100%{
        content:"0";
        font-size:clamp(6rem,9vw,8rem);
    }
}