.game-grid{
    min-height: 30vh;
    background-color: rgba(30, 12, 63, 0.89);
    border-radius: 1rem;
    margin:4px;
    padding:0 2px;
    padding-bottom: 2rem;
}

@media screen and (min-width: 720px){
    .game-grid{
        margin: 4px 11vw;
    }
}