.nameSet-container{
    display:flex;
    justify-content:center;
}
.ant-input-affix-wrapper{
    background:none;
    margin: 0.5rem;
}
.ant-input-affix-wrapper svg{
    color: aliceblue;
}

@media screen and (min-width: 720px){
    .ant-input-affix-wrapper{
        width:80%;
    }
}
@media screen and (min-width: 960px){
    .ant-input-affix-wrapper{
        width:60%;
    }
}