.board.main{
    background-size: contain;
}
.board.main.r{
    background-image: url("https://res.cloudinary.com/dnppl93qm/image/upload/v1624383034/media/ludo/ironman_dwpxvc.jpg");
}
.board.main.g{
    background-image: url("https://res.cloudinary.com/dnppl93qm/image/upload/v1624383435/media/ludo/5-59522_s_q7ohzy.jpg");
}
.board.main.b{
    background-image: url("https://res.cloudinary.com/dnppl93qm/image/upload/v1624383714/media/ludo/Thor-Wallpapers-Download-HD-Background-Images-of-Thor_b9s9dx.jpg");
}
.board.main.y{
    background-image: url("https://res.cloudinary.com/dnppl93qm/image/upload/v1624383884/media/ludo/wp3892181_lu1leq.jpg");
}